#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Cập nhật thanh cuộn */
::-webkit-scrollbar {
  width: 8px; /* Đặt chiều rộng của thanh cuộn */
}

/* Đổi màu của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của thanh cuộn */
}

/* Đổi màu của thanh cuộn khi cuộn */
::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Màu thanh cuộn */
  border-radius: 10px; /* Tạo góc bo cho thanh cuộn */
  border: 2px solid #f1f1f1; /* Đặt đường viền cho thanh cuộn */
}

/* Tùy chỉnh khi di chuột qua thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1; /* Màu khi hover vào thanh cuộn */

body {
  overflow: hidden; /* Tắt cuộn khi modal mở */
}
.inbox-container {
  z-index: 1; /* Đặt giá trị z-index thấp hơn modal */
}
.modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Đảm bảo overlay che phủ toàn màn hình */
  z-index: 9999;
}
.modal-content {
  position: relative;
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px;
  z-index: 10000; /* Đảm bảo modal nội dung nằm trên overlay */

}}

